<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>Glowtica</title>

<link rel="stylesheet" href="estilos.css">

</head>

<body>

<header>

<div class="logo">

Glowtica

</div>

<nav>

<ul>

<li><a href="inicio.html">Inicio</a></li>

<li><a href="productos.html">Productos</a></li>

<li><a href="encuesta.html">Encuesta</a></li>

<li><a href="login.html">Login</a></li>

</ul>

</nav>

</header>

<section class="banner">

<h1>Bienvenida a Glowtica</h1>

<p>
Todo para el cuidado de tu cabello, piel, maquillaje y cuerpo.
</p>

<button onclick="location.href='productos.html'">

Comprar Ahora

</button>

</section>

<h2 class="titulo">

Nuestras Categorías

</h2>

<section class="categorias">

<div class="card">

<img src="../img/cabello.jpg">

<h3>Cuidado Capilar</h3>

<p>

Shampoo, acondicionador, gorros de satín y más.

</p>

<a href="productos.html" class="boton">

Ver productos

</a>

</div>

<div class="card">

<img src="../img/skincare.jpg">

<h3>Cuidado Facial</h3>

<p>

Serum, protector solar, limpiadores y cremas.

</p>

<a href="productos.html" class="boton">

Ver productos

</a>

</div>

<div class="card">

<img src="../img/maquillaje.jpg">

<h3>Maquillaje</h3>

<p>

Bases, labiales, sombras y rubores.

</p>

<a href="productos.html" class="boton">

Ver productos

</a>

</div>

<div class="card">

<img src="../img/cuerpo.jpg">

<h3>Cuidado Corporal</h3>

<p>

Splash, cremas, exfoliantes y jabones.

</p>

<a href="productos.html" class="boton">

Ver productos

</a>

</div>

</section>

<footer>

<h3>Glowtica</h3>

<p>

Belleza, confianza y cuidado en un solo lugar.

</p>

<p>

© 2026 Todos los derechos reservados.

</p>

</footer>

</body>

</html>