<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Menú</title>
<link rel="stylesheet" href="estilos.css">
</head>

<body>

<header>

<div class="logo">Glowtica</div>

</header>

<h2 class="titulo">Menú del Cliente</h2>

<section class="categorias">

<div class="card">
<h3>Inicio</h3>
<a href="inicio.html" class="boton">Entrar</a>
</div>

<div class="card">
<h3>Productos</h3>
<a href="productos.html" class="boton">Entrar</a>
</div>

<div class="card">
<h3>Encuesta</h3>
<a href="encuesta.html" class="boton">Entrar</a>
</div>

<div class="card">
<h3>Mi Perfil</h3>
<a href="#" class="boton">Entrar</a>
</div>

<div class="card">
<h3>Cerrar Sesión</h3>
<a href="login.html" class="boton">Salir</a>
</div>

</section>

</body>

</html>