<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Registro</title>
<link rel="stylesheet" href="estilos.css">
</head>

<body>

<header>

<div class="logo">Glowtica</div>

<nav>

<ul>

<li><a href="inicio.html">Inicio</a></li>
<li><a href="login.html">Login</a></li>

</ul>

</nav>

</header>

<section class="formulario">

<h2>Registro de Usuario</h2>

<form>

<label>Nombre</label>
<input type="text" required>

<label>Apellidos</label>
<input type="text" required>

<label>Nombre de Usuario</label>
<input type="text" required>

<label>Correo Electrónico</label>
<input type="email" required>

<label>Contraseña</label>
<input type="password" required>

<label>Confirmar Contraseña</label>
<input type="password" required>

<label>País</label>

<select>

<option>Colombia</option>
<option>México</option>
<option>Perú</option>
<option>Argentina</option>

</select>

<label>Ciudad</label>

<input type="text">

<br><br>

<input type="submit" value="Registrarse">

</form>

</section>

</body>
</html>